@media (max-width: 1535px){
    .section12_image img{
        display: none;
    }
}

@media (max-width: 1335px){
    .left_triangle{
        display: none;
    }

    .right_triangle{
        display: none;
    }


    .s5_imgbox{
        position: relative;
        padding-bottom: 100px;
    }

    .slider_container{
        left: 45%;
    }

    .section3{
        padding-bottom: 20px;
    }

    .sector4{
        padding-top: 120px;
    }

    .bfooter_traingle1{
        display: none;
    }

    .bfooter_traingle2{
        display: none;
    }


    .s4_button_list{
        margin-top: 20px;
    }


 
 
}


@media(max-width: 1200px){
    .sector5_background{
        display: none;
    }

    .section12_image{
        display: none;
    }

    .sector14_inner{
        margin-left: 0;
    }

    .slider_container{
        left: 45%;
    }

    .s28_cupon_entry{
        flex-flow: column;
        align-content: flex-start;
        align-items: flex-start;
    }

    .s28_cupon_button{
        width: 100%;
        margin-top: 20px;
    }

    .s28_input{
        width: 100%;
    }

    .hidden_col{
        display: none;
    }

    .s10_input_button{
        width: 100%;
        text-align: center;
    }

    .input_box input{
        width: 100%;
    }

}

@media (max-width: 1081px){
    
    .slider_container{
        left: 45%;
    }

}



@media (max-width: 991px){

    .col_nopaddingv2_inner{
        padding: 200px;
    }

    .appointment_part{
        display: none;
    }

    .inner_main_header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .secondary_header{
        display: flex;
        flex-flow: column;
    }

    .logo_box{
        width: 200px;
        margin: 0 auto;
    }


    .right_list{
        padding-top: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .carousel_first_text{ 
        font-size: 17px;
        top: -90px;
    }

    .carousel_second_text{
        font-size: 30px;
        width: 100%;
    }


    @keyframes slidetop{
        from{
            bottom: -120px;
            opacity: 0;
            visibility: hidden;
        }
    
        to{
            bottom: -35px;
            opacity: 1;
            visibility: visible;
        }
    }

    .carousel_third_text{
        font-size: 13px;
    }

    .carousel_button{
        bottom: -220px;
    }

    .carousel_button a{
        transition: .2s ease-in-out;
        text-decoration: none;
        border: 1px solid transparent;
        font-size: 14px;
        color: white;
        font-weight: 600;
        padding: 6px 7px 6px 7px;
        background-color: aqua;
    }



    .sector5{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .s5_imgbox{
        padding-bottom: 20px;
    }


    .carousel_second_text{
        top: -67px;
    }
    

    
    .sector7{
        margin-top: 20px;
    }
    

    .sector8{
        width: 90%;
        margin: 0 auto;
    }

    .sector9{
        justify-content: space-around;
    }


    .s9txt_title{
        font-size: 25px;
        color:black;
        font-weight: 600;
    }

    .s9txt_desc{
        font-size: 17px;
    }

    .s9_mockup{
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    .sector9{
        margin-bottom: 50px;
    }


    .s10_imgbox{
        display: none;
    }

    .s10_imgboxv2{
        display: none;
    }

    
    .s10_appointment_section{
        width: 100%;
    }

    .section12_image{
        display: none;
    }

    .sector14_inner{
        margin-left: 0;
    }

    .s14_button{
        margin-top: 30px;
        margin-left: 0;
       
    }

    .sector14{
        align-content: initial;
        align-items: initial;
        flex-flow: column;
    }

    .sector18{
        margin-top: 50px;
    }

    .sector19{
        margin-top: 50px;
    }

    .sector21{
        margin-top: 50px;
    }

    .sector23{
        margin-bottom: 50px;
    }

}






@media(max-width: 768px) {


    .col_nopaddingv2_inner{
        padding: 45px;
    }

    .inner_main_header{
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .sector1{
        width: 100%;
        text-align: center;
    }

    .sector2{
        width: 100%;
        text-align: center;
        display: flex;
         justify-content: center;
         padding-top: 5px;
    }

    .container_nopadding{
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }


    .carousel_first_text{ 
        font-size: 15px;
        top: -90px;
    }

    .carousel_second_text{
        font-size: 25px;
    }


    @keyframes slidetop{
        from{
            bottom: -120px;
            opacity: 0;
            visibility: hidden;
        }
    
        to{
            bottom: -35px;
            opacity: 1;
            visibility: visible;
        }
    }

    .carousel_third_text{
        font-size: 13px;
    }


    @keyframes slidetop2{
        form{
            bottom: -250px; 
            left: 0;
            opacity: 0;
            visibility: hidden;
        }
    
        to{
            bottom: -75px;
            opacity: 1;
            visibility: visible;
        }
    }
    

    .right_list{
        flex-flow: column;
        align-items: center;
    }

    .list_item_margin{
        margin-left: 0;
        margin-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .s3_list{
        display: none;
    }

    .s3_burger_menu{
        display: block;
    }


    .section3{
        padding-bottom: 30px;
    }


    .sector7{
        margin-top: 40px;
    }
    
    
    .counter{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .s10_imgboxv2{
        display: none;
    }

    .sector12{
        justify-content: center;
        align-items: center;
    }

    .sector17{
        margin-top: 50px;
    }
    

    .error_message{
        font-size: 130px;
    }

    .s32_icon_desc a{
        width: 100%;
    }


    .section6_inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .counter{
        padding-bottom: 50px;
    }

}



@media(max-width: 588px){
    .slider_container{
        top: 75%;
        left: 55%;
    }

    .carousel_third_text{
        display: none;
    }
    .carousel_button {
        display: none;
    }




@media(max-width: 397px){

    .carousel_prev{
        height: 15px;
        width: 15px;
        background-color: transparent;
    }


    .carousel_next{
        height: 15px;
        width: 15px;
        background-color: transparent;
    }


    .section2{
        margin-top: 67px;
    }

    .slider_container{
        top: 45%;
        left: 50%;
    }

    .carousel_first_text{ 
        top: -30px;
    }


 
    .carousel_second_text{

        top: -17px;
    }

    .section15_titlebox{
        flex-flow: column;
    }

    .section_path{
        padding-top: 30px;
    }


    .sector4{
        padding-top: 40px;
    }

    .sector5{
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .sector7{
        margin-top: 20px;
    }

    .s8_text_content{
        padding: 10px;
    }

    .s5_imgbox{
        padding-bottom: 0;
    }

    .sector8{
        margin-top: 100px;
        width: 100%;
    }

    .s8_text_content{
        margin-left: 0;
    }

    .sector8_inner{
        display: flex;
        flex-flow: column;
        padding: 10px;
    }

    .s8_icon_box{
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }

    .sector9{
        padding-top: 30px;
    }

    .s9_textbox{
        text-align: center;
    }

    .sector9v2{
        margin-top: 30px;
    }

    .s9_mockup{
        margin-top: 30px;
    }

    .inner_section1_top{
        display: none;
    }

    .sidenav_content{
        padding: 30px;
        background-color: white;
        display: none;
        left: 0;
        top: 0;
        z-index: 900;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
    
    
    }

    .sidenav{
        position: fixed;
        display: flex;
        justify-content: center;
        align-content: center;
        right: 35%;
        top: 2%;
    }
}